<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/listDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeskServlet</display-name>
    <servlet-name>AddDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskServlet</servlet-name>
    <url-pattern>/AddDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeskServlet</display-name>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <url-pattern>/deleteDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeDesk</display-name>
    <servlet-name>FoodTypeDesk</servlet-name>
    <servlet-class>cn.et.model.FoodTypeDesk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeDesk</servlet-name>
    <url-pattern>/foodTypeDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeController</display-name>
    <servlet-name>FoodTypeController</servlet-name>
    <servlet-class>cn.et.controller.FoodTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeController</servlet-name>
    <url-pattern>/ftc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/dfs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/afs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdteFoodServlet</display-name>
    <servlet-name>UpdteFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.UpdteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdteFoodServlet</servlet-name>
    <url-pattern>/ufs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodController</display-name>
    <servlet-name>AddFoodController</servlet-name>
    <servlet-class>cn.et.controller.AddFoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodController</servlet-name>
    <url-pattern>/addFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>cn.et.controller.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
</web-app>